<h2>List of users registered with us</h2>

<div class="digg_pagination">
   
    <br>
    <%= will_paginate @users, :container => false %>
  </div>
<br>

<table>
	<thead>
		<tr>
			<td><strong>User Name</strong></td>
			<td><strong>Email</strong></td>
			<td><strong>Articles</strong></td>
			<td><strong>View profile</strong></td>
			<%if current_user%>
			<td><strong>Edit profile</strong></td>
				<td><strong>Delete profile</strong></td>
			<%end%>



		</tr>
	</thead>

<tbody>
	<%@users.each do |user|%>

	<tr>
		<td><%=user.username%></td>
		<td><%=user.email%></td>
		<td><%=pluralize(user.articles.count, "article")%></td>
		<td><%=link_to "view profile", user_path(user)%></td>
		<%if user==current_user || (logged_in? && current_user.admin?)%>
			<td><%=link_to "Edit profile", edit_user_path(user)%></td>
			<td><%=link_to "Delete profile",user_path(user), method: :delete, data: {confirm: "are you sure ?"}%></td>
		<%end%>


	</tr>
	<%end%>
</tbody>
</table>